a:link{text-decoration:none;background-color:white;color:2070ff;}
a:visited{text-decoration:none;background-color:white;color:2070ff;}
a:hover{text-decoration:none;background-color:white;color:9950ff;}
a:active{text-decoration:none;background-color:white;}
